apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: "{{ KUBE_CA_DATA }}"
      server: https://10.1.1.123:6443
    name: default
contexts:
  - context:
      cluster: default
      user: default
    name: default
current-context: default
kind: Config
preferences: {}
users:
  - name: default
    user:
      client-certificate-data: "{{ KUBE_CLIENT_CERT_DATA }}"
      client-key-data: "{{ KUBE_CLIENT_KEY_DATA }}"
